.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  background-image: url("./assets/images/pattern-bg-mobile.png");
  background-size: cover;
  padding: 2rem 0 10rem 0;
  display: flex;
  flex-direction: column;
}
.header h1 {
  color: var(--White);
  font-size: 1.5rem;
  font-weight: var(--F-Secondary-Weight);
  margin-bottom: 2rem;
}
.searchArea {
  font-weight: var(--F-Primary-Weight);
  display: flex;
  align-items: center;
  justify-content: center;
}
::placeholder {
  color: var(--Very-Dark-Grey);
  /* font-size: 0.7rem; */
}
.searchInput {
  padding: 0.9rem;
  border-radius: 12px 0 0 12px;
}
.submitBtn {
  background-color: #000;
  border-radius: 0 12px 12px 0;
  padding: 1rem;
}
.leaflet-container {
  width: 100%;
  height: 400px;
  /* flex-grow: 9; */
}
